.lc_root {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 200px;
  z-index: 9999;
  background: #f00;
  border-radius: 3px;
}

#lc_container {
}

#lc_container.lc_colapse_flag {
}

#lc_colapse {
}

.lc_button {
}

#lc_start {
}

#lc_stop {
}

#lc_xy {
}

.lc_colapse_flag {
}
